# 作业2 股票数据清洗

同学们好，本次作业的主要内容为使用pandas进行数据预处理。希望这两天你们已经从Python的课程内容中回过神来了。
没有数据的分析是无源之水，能够熟练处理数据是成为合格的数据分析师的基本要求，希望大家在今后多多实战，成为数据大师。

本次作业将使用公开标普500的股票数据。
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

作业的形式以问答为主，因为不涉及过长的代码，核心是数据的操作，所以这里没有太多的代码模板可供大家参考。
希望大家能从搜索引擎（google/bing）问答社区（stackoverflow）或者[官方文档](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)或者我提供的jupyter notebooks 中找到回答问题需要的方法。
请时刻牢记数据的增删改查四种原子操作，思考我们的问题可以被如何分解。

那么首先，我们要import pandas

In [2]:
import pandas as pd

# 1. 从fundemantals.csv开始！

fundemantals.csv 是这些股票的年报数据

请用数据回答以下问题：

1. S&P500股票在2015年`net income`的均值是多少？最大值比最小值多多少？（每问10分，共计20分）
2. S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票是的代码（ticker symbol）是什么？（每问10分，共计20分）

In [ ]:
Ticker Symbol   Fixed Assets  Total Assets

In [3]:
import pandas as pd

df = pd.read_csv('fundamentals.csv')
df.head()
Net_Income_mean = df[df['For Year']==2015.0]['Net Income']

print('第一问')
print('net income的均值是:',Net_Income_mean.mean())
print('最大值比最小值多:',Net_Income_mean.max()-Net_Income_mean.min())
print('\n','第二问',sep ='')

Net_Income_mean6 = df[df['For Year']==2016.0]['Net Income']
F_T = df['Fixed Assets']/df['Total Assets']
F_T.min()
df.loc[:,'F_T'] = df['Fixed Assets']/df['Total Assets']
a = df[df['F_T']==F_T.min()]['Ticker symbol']

print('S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是:',F_T.mean(),sep ='')
print('固定资产占总资产比例最小的股票是的代码(ticker symbol)是','\n',a,sep ='')

第一问
net income的均值是: 1575185571.764706
最大值比最小值多: 76922000000.0

第二问
S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是:0.28415422372222277
固定资产占总资产比例最小的股票是的代码(ticker symbol)是
56       AIG
57       AIG
58       AIG
59       AIG
112      AMP
113      AMP
114      AMP
115      AMP
250        C
251        C
252        C
253        C
266       CB
267       CB
268       CB
269       CB
947      LEN
948      LEN
949      LEN
950      LEN
1051     MET
1052     MET
1053     MET
1054     MET
1129    NAVI
1130    NAVI
1131    NAVI
1288     PNC
1289     PNC
1290     PNC
1291     PNC
1308     PRU
1309     PRU
1310     PRU
1311     PRU
1478     SYF
1479     SYF
1480     SYF
1481     SYF
1530     TMK
1531     TMK
1532     TMK
1533     TMK
1542     TRV
1543     TRV
1544     TRV
1545     TRV
1737      XL
1738      XL
1739      XL
1740      XL
Name: Ticker symbol, dtype: object

# 2. 加入securities.csv~

securities.csv包含了这些股票的基本信息

1. 请列举出各个sector中的加入时间最早的股票名称（10分）
2. 请列举出每一个州中加入时间最晚的股票名称（10分）

In [4]:
df2 = pd.read_csv('securities.csv')

#导入数据
print('第一题')

#第一题请列举出各个sector中的加入时间最早的股票名称

sector = list(set(df2['GICS Sector']))


for i in sector:
    df3 = df2[df2['GICS Sector']==i][['Ticker symbol','Date first added']]
    #使用DatetimeIndex提取年月日，过滤年月日中的最小值既是最早加入的股票
    df3['year'] = pd.DatetimeIndex(df3['Date first added']).year
    df3['month'] = pd.DatetimeIndex(df3['Date first added']).month
    df3['day'] = pd.DatetimeIndex(df3['Date first added']).day
    df3['year'].min()
    df3_year = df3[df3['year']==df3['year'].min()][['Ticker symbol','month','day']]
    df3_year['month'].min()
    df3_month =df3_year[df3_year['month']==df3_year['month'].min()][['Ticker symbol','day']]
    df3_month.min()
    df3_day =df3_month[df3_month['day']==df3_month['day'].min()][['Ticker symbol']]
    print('最早加入',i,'的股票是','\n',df3_day[['Ticker symbol']])        



print('第二题', '\n')
#第二题请列举出每一个州中加入时间最晚的股票名称
state = list(set(df2['Address of Headquarters']))
for i in state:
    df4 = df2[df2['Address of Headquarters']==i][['Ticker symbol','Date first added']]
    #使用DatetimeIndex提取年月日，过滤年月日中的最小值既是最早加入的股票
    df4['year'] = pd.DatetimeIndex(df4['Date first added']).year
    df4['month'] = pd.DatetimeIndex(df4['Date first added']).month
    df4['day'] = pd.DatetimeIndex(df4['Date first added']).day
    df4['year'].max()
    df4_year = df4[df4['year']==df4['year'].max()][['Ticker symbol','month','day']]
    df4_year['month'].min()
    df4_month =df4_year[df4_year['month']==df4_year['month'].max()][['Ticker symbol','day']]
    df4_month.min()
    df4_day =df4_month[df4_month['day']==df4_month['day'].max()][['Ticker symbol']]
    print('最晚加入',i,'的股票是','\n',df4_day[['Ticker symbol']])

第一题
最早加入 Telecommunications Services 的股票是
     Ticker symbol
51              T
472            VZ
最早加入 Utilities 的股票是
     Ticker symbol
152           DUK
328           NEE
最早加入 Industrials 的股票是
     Ticker symbol
48           ARNC
230           HON
最早加入 Consumer Discretionary 的股票是
     Ticker symbol
296           MCD
最早加入 Financials 的股票是
     Ticker symbol
255           JPM
最早加入 Real Estate 的股票是
    Ticker symbol
56           AVB
最早加入 Materials 的股票是
     Ticker symbol
404           SHW
最早加入 Energy 的股票是
     Ticker symbol
399           SLB
最早加入 Consumer Staples 的股票是
     Ticker symbol
207           GIS
433           CLX
最早加入 Health Care 的股票是
   Ticker symbol
1           ABT
最早加入 Information Technology 的股票是
     Ticker symbol
233           HPQ
第二题

最晚加入 Washington, D.C. 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Ferguson, Missouri 的股票是
     Ticker symbol
162           EMR
最晚加入 Charlotte, North Carolina 的股票是
     Ticker symbol
338           NUE
最晚加入 Woburn, Massachusetts 的股票是
     Ticker symbol
407          SWKS
最晚加入 Atlanta, Georgia 的股票是
   Ticker symbol
5           AYI
最晚加入 St. Louis, Missouri 的股票是
    Ticker symbol
27           AEE
最晚加入 Englewood, Colorado 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Richmond, Virginia 的股票是
    Ticker symbol
84           KMX
最晚加入 Falls Church, Virginia 的股票是
     Ticker symbol
127          CSRA
最晚加入 Armonk, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Madison, Wisconsin 的股票是
    Ticker symbol
21           LNT
最晚加入 Northfield Township, Illinois 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Amsterdam, New York 的股票是
     Ticker symbol
308           MHK
最晚加入 Los Angeles, California 的股票是
     Ticker symbol
341           OXY
最晚加入 Everett, Washington 的股票是
     Ticker symbol
197           FTV
最晚加入 Norwood, Massachusetts 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Cedar Rapids, Iowa 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Highlands Ranch, Colorado 的股票是
     Ticker symbol
453           UDR
最晚加入 Minnetonka, Minnesota 的股票是
     Ticker symbol
459           UNH
最晚加入 Milford, Massachusetts 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Arlington, Virginia 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Providence, Rhode Island 的股票是
     Ticker symbol
108           CFG
最晚加入 Melville, New York 的股票是
     Ticker symbol
225          HSIC
最晚加入 Orrville, Ohio 的股票是
     Ticker symbol
252           SJM
最晚加入 New Brunswick, New Jersey 的股票是
     Ticker symbol
253           JNJ
最晚加入 Murray Hill, New Jersey 的股票是
    Ticker symbol
61           BCR
最晚加入 Milpitas, California 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Rotterdam, Netherlands 的股票是
     Ticker symbol
282           LYB
最晚加入 Newton, Massachusetts 的股票是
     Ticker symbol
448          TRIP
最晚加入 San Jose, California 的股票是
     Ticker symbol
349          PYPL
最晚加入 Lake Forest, Illinois 的股票是
     Ticker symbol
418          SRCL
最晚加入 Jacksonville, Florida 的股票是
     Ticker symbol
128           CSX
最晚加入 Cupertino, California 的股票是
    Ticker symbol
45          AAPL
最晚加入 Winona, Minnesota 的股票是
     Ticker symbol
182          FAST
最晚加入 Santa Clara, California 的股票是
     Ticker symbol
240          INTC
最晚加入 Austin, Minnesota 的股票是
     Ticker symbol
231           HRL
最晚加入 Chesterbrook, Pennsylvania 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 McLean, Virginia 的股票是
     Ticker symbol
427          TGNA
最晚加入 New York, NY 的股票是
     Ticker symbol
125          COTY
最晚加入 Columbus, Georgia 的股票是
     Ticker symbol
444           TSS
最晚加入 Sarasota, Florida 的股票是
     Ticker symbol
392           ROP
最晚加入 Columbus, Indiana 的股票是
     Ticker symbol
129           CMI
最晚加入 Wallingford, Connecticut 的股票是
    Ticker symbol
38           APH
最晚加入 Eden Prairie, Minnesota 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Moline, Illinois 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Cheshire, Connecticut 的股票是
    Ticker symbol
17          ALXN
最晚加入 San Diego, California 的股票是
     Ticker symbol
238          ILMN
最晚加入 Kingsport, Tennessee 的股票是
     Ticker symbol
155           EMN
最晚加入 Hartford, Connecticut 的股票是
   Ticker symbol
9           AET
最晚加入 Plano, Texas 的股票是
    Ticker symbol
20           ADS
最晚加入 Gillingham, Kent, United Kingdom 的股票是
     Ticker symbol
136          DLPH
最晚加入 St Louis, Missouri 的股票是
    Ticker symbol
90           CNC
最晚加入 Bolingbrook, Illinois 的股票是
     Ticker symbol
454          ULTA
最晚加入 Salt Lake City, Utah 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 The Woodlands, Texas 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Menomonee Falls, Wisconsin 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Tulsa, Oklahoma 的股票是
     Ticker symbol
343           OKE
最晚加入 Downers Grove, Illinois 的股票是
     Ticker symbol
147           DOV
最晚加入 Corning, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Northfield, Illinois 的股票是
     Ticker symbol
310          MDLZ
最晚加入 Corona, California 的股票是
     Ticker symbol
312          MNST
最晚加入 Summit, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 North Chicago, Illinois 的股票是
   Ticker symbol
2          ABBV
最晚加入 San Ramon, California 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Kenosha, Wisconsin 的股票是
     Ticker symbol
409           SNA
最晚加入 Baltimore, Maryland 的股票是
     Ticker symbol
456           UAA
最晚加入 Norwalk, Connecticut 的股票是
     Ticker symbol
367          PCLN
最晚加入 Deerfield, Illinois 的股票是
     Ticker symbol
198          FBHS
最晚加入 Allentown, Pennsylvania 的股票是
    Ticker symbol
13           APD
最晚加入 Fairfield, Connecticut 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Mooresville, North Carolina 的股票是
     Ticker symbol
281           LOW
最晚加入 Carthage, Missouri 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Irvine, California 的股票是
     Ticker symbol
160            EW
最晚加入 Battle Creek, Michigan 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Midland, Michigan 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Boston, Massachusetts 的股票是
     Ticker symbol
249           IRM
最晚加入 Brookfield, Wisconsin 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Omaha, Nebraska 的股票是
    Ticker symbol
66         BRK.B
最晚加入 McKinney, Texas 的股票是
     Ticker symbol
443           TMK
最晚加入 Arlington, Virginia[3] 的股票是
    Ticker symbol
56           AVB
最晚加入 Melbourne, Florida 的股票是
     Ticker symbol
219           HRS
最晚加入 Akron, Ohio 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Westbrook, Maine 的股票是
     Ticker symbol
236          IDXX
最晚加入 Bridgeport, Connecticut 的股票是
     Ticker symbol
351          PBCT
最晚加入 Detroit, Michigan 的股票是
     Ticker symbol
208            GM
最晚加入 Monroe, Louisiana 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 New Britain, Connecticut 的股票是
     Ticker symbol
414           SWK
最晚加入 New York, New York 的股票是
     Ticker symbol
195            FL
最晚加入 Denver, Colorado 的股票是
     Ticker symbol
103           XEC
最晚加入 Salt Lake City, UT 的股票是
     Ticker symbol
178           EXR
最晚加入 Tulsa, Oklahoma[5] 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Chesapeake, Virginia 的股票是
     Ticker symbol
145          DLTR
最晚加入 Redwood City, California 的股票是
     Ticker symbol
169          EQIX
最晚加入 Dublin, Ireland 的股票是
     Ticker symbol
163          ENDP
最晚加入 Houston, Texas 的股票是
     Ticker symbol
262           KMI
最晚加入 Springfield, Missouri 的股票是
     Ticker symbol
340          ORLY
最晚加入 Miamisburg, Ohio 的股票是
     Ticker symbol
428           TDC
最晚加入 New Orleans, Louisiana 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Irving, Texas 的股票是
     Ticker symbol
191           FLS
最晚加入 San Francisco, California 的股票是
     Ticker symbol
140           DLR
最晚加入 Schaffhausen, Switzerland 的股票是
     Ticker symbol
203          GRMN
最晚加入 Franklin Lakes, New Jersey 的股票是
    Ticker symbol
64           BDX
最晚加入 Columbus, Ohio 的股票是
     Ticker symbol
302           MTD
最晚加入 Santa Monica, California 的股票是
   Ticker symbol
4          ATVI
最晚加入 Itasca, Illinois 的股票是
    Ticker symbol
49           AJG

最晚加入 Creve Coeur, Missouri 的股票是
     Ticker symbol
311           MON
最晚加入 New Hyde Park, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Stamford, Connecticut 的股票是
    Ticker symbol
96          CHTR
最晚加入 Newark, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Boise, Idaho 的股票是
     Ticker symbol
305            MU
最晚加入 Benton Harbor, Michigan 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Des Moines, Iowa 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Austin, Texas 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Cambridge, Massachusetts 的股票是
     Ticker symbol
473          VRTX
最晚加入 Baton Rouge, Louisiana 的股票是
    Ticker symbol
16           ALB
最晚加入 Fairfield, Ohio 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Purchase, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Burbank, California 的股票是
     Ticker symbol
438           DIS
最晚加入 King of Prussia, Pennsylvania 的股票是
     Ticker symbol
463           UHS
最晚加入 Victor, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Auburn Hills, Michigan 的股票是
    Ticker symbol
72           BWA
最晚加入 Weston, Massachusetts 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Amsterdam, Netherlands 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Zurich, Switzerland 的股票是
     Ticker symbol
100            CB
最晚加入 Wilsonville, Oregon 的股票是
     Ticker symbol
190          FLIR
最晚加入 Parsippany, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Orlando, Florida 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Louisville, Kentucky 的股票是
     Ticker symbol
501           YUM
最晚加入 Springfield, Massachusetts 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Redmond, Washington 的股票是
     Ticker symbol
306          MSFT
最晚加入 Vernier, Switzerland 的股票是
     Ticker symbol
447           RIG
最晚加入 Lowell, Arkansas 的股票是
     Ticker symbol
250          JBHT
最晚加入 Chattanooga, Tennessee 的股票是
     Ticker symbol
464           UNM
最晚加入 Bellevue, Washington 的股票是
     Ticker symbol
175          EXPE
最晚加入 Elmwood Park, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Memphis, Tennessee 的股票是
     Ticker symbol
307           MAA
最晚加入 Cork, Ireland 的股票是
     Ticker symbol
254           JCI
最晚加入 Nashville, Tennessee 的股票是
     Ticker symbol
165          EVHC
最晚加入 Radnor, Pennsylvania 的股票是
     Ticker symbol
276           LNC
最晚加入 Juno Beach, Florida 的股票是
     Ticker symbol
328           NEE
最晚加入 Jersey City, New Jersey 的股票是
     Ticker symbol
471          VRSK
最晚加入 Rockville, Maryland 的股票是
     Ticker symbol
183           FRT
最晚加入 Madison, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Cayce, South Carolina 的股票是
     Ticker symbol
398           SCG
最晚加入 Toledo, Ohio 的股票是
     Ticker symbol
484           HCN
最晚加入 Richfield, Minnesota 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Findlay, Ohio 的股票是
     Ticker symbol
288           MPC
最晚加入 Decatur, Illinois 的股票是
    Ticker symbol
47           ADM
最晚加入 White Plains, New York 的股票是
     Ticker symbol
499           XYL
最晚加入 Voorhees, New Jersey 的股票是
    Ticker symbol
33           AWK
最晚加入 Hershey, Pennsylvania 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Morristown, New Jersey 的股票是
     Ticker symbol
230           HON
最晚加入 Mayfield Village, Ohio 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Pawtucket, Rhode Island 的股票是
     Ticker symbol
221           HAS
最晚加入 Raleigh, North Carolina 的股票是
     Ticker symbol
291           MLM
最晚加入 San Mateo, California 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Taylor, Michigan 的股票是
     Ticker symbol
292           MAS
最晚加入 Kansas City, Missouri 的股票是
     Ticker symbol
257           KSU
最晚加入 Palo Alto, California 的股票是
     Ticker symbol
227           HPE
最晚加入 Springdale, Arkansas 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Foster City, California 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Sunnyvale, California 的股票是
     Ticker symbol
247          ISRG
最晚加入 Peoria, Illinois 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Harrison, New York 的股票是
     Ticker symbol
293            MA
最晚加入 Birmingham, Alabama 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Las Vegas, Nevada 的股票是
     Ticker symbol
494          WYNN
最晚加入 Dulles, Virginia 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Union, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Hamilton, Bermuda 的股票是
     Ticker symbol
405           SIG
最晚加入 San Antonio, Texas 的股票是
     Ticker symbol
429           TSO
最晚加入 Pasadena, California 的股票是
     Ticker symbol
251           JEC
最晚加入 Tempe, Arizona 的股票是
     Ticker symbol
187          FSLR
最晚加入 Woonsocket, Rhode Island 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Pleasanton, California 的股票是
     Ticker symbol
434           COO
最晚加入 Rosemead, California 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Cincinnati, Ohio 的股票是
     Ticker symbol
400           SNI
最晚加入 Princeton, New Jersey 的股票是
     Ticker symbol
337           NRG
最晚加入 Winston-Salem, North Carolina 的股票是
     Ticker symbol
216           HBI
最晚加入 Pittsburgh, Pennsylvania 的股票是
     Ticker symbol
265           KHC
最晚加入 Worsley, UK 的股票是
     Ticker symbol
350           PNR
最晚加入 Kalamazoo, Michigan 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Marlborough, Massachusetts[4] 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Cleveland, Ohio 的股票是
     Ticker symbol
446           TDG
最晚加入 Plymouth, Minnesota 的股票是
     Ticker symbol
436           MOS
最晚加入 Teaneck, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Sandy Springs, Georgia 的股票是
     Ticker symbol
323           NWL
最晚加入 London, United Kingdom 的股票是
     Ticker symbol
492          WLTW
最晚加入 Roanoke, Virginia 的股票是
   Ticker symbol
7           AAP
最晚加入 Minneapolis, Minnesota 的股票是
     Ticker symbol
425           TGT
最晚加入 North Kansas City, Missouri 的股票是
    Ticker symbol
93          CERN
最晚加入 Ewing, New Jersey 的股票是
     Ticker symbol
101           CHD
最晚加入 Golden Valley, Minnesota 的股票是
     Ticker symbol
207           GIS
最晚加入 Sparks, Maryland 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Brentwood, Tennessee 的股票是
     Ticker symbol
445          TSCO
最晚加入 Cool Valley, Missouri 的股票是
     Ticker symbol
177          ESRX
最晚加入 Goodlettsville, Tennessee 的股票是
     Ticker symbol
144            DG
最晚加入 Houston, Texas[6] 的股票是
     Ticker symbol
412           SWN
最晚加入 Los Gatos, California 的股票是
     Ticker symbol
322          NFLX
最晚加入 Midland, Texas 的股票是
     Ticker symbol
119           CXO
最晚加入 Bethesda, Maryland 的股票是
     Ticker symbol
232           HST
最晚加入 Fort Lauderdale, Florida 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Fremont, California 的股票是
     Ticker symbol
270          LRCX
最晚加入 Schaumburg, Illinois 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Merrillville, Indiana 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Thousand Oaks, California 的股票是
    Ticker symbol
37          AMGN
最晚加入 Newark, Delaware 的股票是
     Ticker symbol
320          NAVI
最晚加入 Redwood Shores, California 的股票是
     Ticker symbol
344          ORCL
最晚加入 Phoenix, Arizona 的股票是
     Ticker symbol
387           RSG
最晚加入 Oklahoma City, Oklahoma 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 West Falls Church, Virginia 的股票是
     Ticker symbol
336           NOC
最晚加入 Broomfield, Colorado 的股票是
     Ticker symbol
274          LVLT
最晚加入 Jackson, Michigan 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Dublin, Ohio 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Norfolk, Virginia 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Mountain View, California 的股票是
    Ticker symbol
23         GOOGL
最晚加入 Short Hills, New Jersey 的股票是
     Ticker symbol
153           DNB
最晚加入 Penfield, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Beverly, Massachusetts 的股票是
    Ticker symbol
10           AMG
最晚加入 Glenview, Illinois 的股票是
     Ticker symbol
298           MJN
最晚加入 Berwyn, Pennsylvania 的股票是
    Ticker symbol
36           AME
最晚加入 York, Pennsylvania 的股票是
     Ticker symbol
138          XRAY
最晚加入 Curaçao, Kingdom of the Netherlands 的股票是
     Ticker symbol
399           SLB
最晚加入 Roseland, New Jersey 的股票是
    Ticker symbol
53           ADP

最晚加入 Chandler, Arizona 的股票是
     Ticker symbol
304          MCHP
最晚加入 Framingham, Massachusetts 的股票是
     Ticker symbol
442           TJX
最晚加入 San Rafael, California 的股票是
    Ticker symbol
52          ADSK
最晚加入 Issaquah, Washington 的股票是
     Ticker symbol
124          COST
最晚加入 Whitehouse Station, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Greensboro, North Carolina 的股票是
     Ticker symbol
377          QRVO
最晚加入 Warsaw, Indiana 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Mason, Ohio 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 St. Paul, Minnesota 的股票是
     Ticker symbol
158           ECL
最晚加入 Islandia, New York 的股票是
    Ticker symbol
79            CA
最晚加入 Milwaukee, Wisconsin 的股票是
     Ticker symbol
482           WEC
最晚加入 Florham Park, New Jersey 的股票是
     Ticker symbol
504           ZTS
最晚加入 Fort Worth, Texas 的股票是
    Ticker symbol
28           AAL
最晚加入 Long Beach, California 的股票是
     Ticker symbol
223           HCP
最晚加入 Miami, Florida 的股票是
     Ticker symbol
394           RCL
最晚加入 El Dorado, Arkansas 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 El Segundo, California 的股票是
     Ticker symbol
294           MAT
最晚加入 Chicago, Illinois 的股票是
     Ticker symbol
278           LKQ
最晚加入 Silver Spring, Maryland 的股票是
     Ticker symbol
143         DISCK
最晚加入 Riverwoods, Illinois 的股票是
     Ticker symbol
141           DFS
最晚加入 Oak Brook, Illinois 的股票是
     Ticker symbol
296           MCD
最晚加入 Tarrytown, New York 的股票是
     Ticker symbol
385          REGN
最晚加入 Tysons Corner, Virginia 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Dearborn, Michigan 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Camden, New Jersey 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Washington County, Oregon 的股票是
     Ticker symbol
330           NKE
最晚加入 Waltham, Massachusetts 的股票是
     Ticker symbol
353           PKI
最晚加入 Marlborough, Massachusetts 的股票是
     Ticker symbol
228          HOLX
最晚加入 Bentonville, Arkansas 的股票是
     Ticker symbol
478           WMT
最晚加入 Burlington, North Carolina 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Wilmington, Delaware 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Oakland, California 的股票是
     Ticker symbol
433           CLX
最晚加入 Dallas, Texas 的股票是
     Ticker symbol
411           LUV
最晚加入 Indianapolis, Indiana 的股票是
     Ticker symbol
275           LLY
最晚加入 Buffalo, New York 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Danbury, Connecticut 的股票是
     Ticker symbol
366            PX
最晚加入 Federal Way, Washington 的股票是
 Empty DataFrame
Columns: [Ticker symbol]
Index: []
最晚加入 Philadelphia, Pennsylvania 的股票是
     Ticker symbol
116         CMCSA
最晚加入 Seattle, Washington 的股票是
    Ticker symbol
15           ALK
最晚加入 Glendale, California 的股票是
    Ticker symbol
57           AVY
最晚加入 Menlo Park, California 的股票是
     Ticker symbol
181            FB

# 3. merge!

现在你需要同时处理来自两个表中的信息了

1. 请思考，合并两个表的信息的时候，我们应该用什么样的准则对其它们（10分）
2. 请列举每个sector在2013-2016年累计Research&Development的总投入（10分）
3. 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值（20分）

In [178]:
df.head()

,Unnamed: 0,Ticker symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding,F_T
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08,0.570055
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08,0.455532
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08,0.534043
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08,0.568212
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07,0.280147

In [146]:
df2.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [5]:
df5 = pd.merge(df, df2, how = 'inner',on = 'Ticker symbol' )

In [8]:
 #筛选出2013-2016年的数据
df6 = df5[ df5['For Year'] > 2012.0]
df7 = df6[ df6['For Year'] < 2017.0]

Sector_sum = df7.groupby('GICS Sector')['Research and Development'].sum()
print('每个sector在2013-2016年累计Research&Development的总投入:\n',Sector_sum)


#第二题没时间了就copy王同学的
df8 = df7.set_index(keys=['GICS Sector'])
col_n = ['Security','For Year','Research and Development']
df8 = pd.DataFrame(df8,columns = col_n) #刚发现的去掉多余列的方法……

sector2 = {} #key=sector, value=number of company
company = {} #key=company, value=sector
number = {} #key=company, value=number
least = {} #key=sector, value=company
com = ''#临时变量
for i in range(0,len(df8.index),1):
    
    #公司数不够3个
    if df8.index[i] not in sector2.keys(): # 新的sector
        sector2[df8.index[i]] = 1
        com = df8.iat[i,0]
        company[com] = df8.index[i]
        number[com] = float(df8.iat[i,2])
        least[df8.index[i]] = com   
    elif sector2[df8.index[i]] < 3 and df8.iat[i,0] == com and (i+1 == len(df8.index) or df8.iat[i+1,0] == com): #累加年份
        number[df8.iat[i,0]] +=  float(df8.iat[i,2])   
    elif sector2[df8.index[i]] < 3 and df8.iat[i,0] == com and (i+1 == len(df8.index) or not(df8.iat[i+1,0] == com)): #设置最菜公司
        number[df8.iat[i,0]] +=  float(df8.iat[i,2])
        if number[df8.iat[i,0]] < number[least[df8.index[i]]]:
            least[df8.index[i]] = com
    elif sector2[df8.index[i]] < 3: #同sector新公司
        sector2[df8.index[i]] += 1
        com = df8.iat[i,0]
        company[com] = df8.index[i]
        number[com] = float(df8.iat[i,2])
    
    #公司数多于3个
    elif sector2[df8.index[i]] >= 3 and not(df8.iat[i,0] in number.keys()): #新公司
        com = df8.iat[i,0]
        number[com] = float(df8.iat[i,2])
    elif sector2[df8.index[i]] >= 3 and df8.iat[i,0] == com and (i+1 == len(df8.index) or df8.iat[i+1,0] == com):#累加年份
         number[df8.iat[i,0]] +=  float(df8.iat[i,2])
    elif sector2[df8.index[i]] >= 3 and df8.iat[i,0] == com and (i+1 == len(df8.index) or not(df8.iat[i+1,0] == com)): #与最菜比较并更新最菜
        number[df8.iat[i,0]] +=  float(df8.iat[i,2])
        if number[df8.iat[i,0]] > number[least[df8.index[i]]]:
            del company[least[df8.index[i]]]
            company[com] = df8.index[i]
            tem_least = com
            for k,v in company.items(): #寻找下一个最菜
                if v == df8.index[i] and number[k] < number[tem_least]:
                    tem_least = k
            least[df8.index[i]] = tem_least #将临时最菜当做真的最菜

print('\n每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值:')
for k,v in sector2.items():
    print('Sector: ',k)
    for ke,va in company.items():
        if va == k:
            print('company: ',ke,'投入的数值: ',number[ke])
    print()

每个sector在2013-2016年累计Research&Development的总投入:
 GICS Sector
Consumer Discretionary         1.860178e+09
Consumer Staples               1.346700e+09
Energy                         1.692513e+09
Financials                     0.000000e+00
Health Care                    1.527224e+11
Industrials                    4.262290e+10
Information Technology         2.818233e+11
Materials                      1.850921e+10
Real Estate                    1.162100e+08
Telecommunications Services    0.000000e+00
Utilities                      0.000000e+00
Name: Research and Development, dtype: float64

每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值:
Sector:  Industrials
company:  Boeing Company 投入的数值:  9449000000.0
company:  Caterpillar Inc. 投入的数值:  6545000000.0
company:  United Technologies 投入的数值:  7096000000.0

Sector:  Consumer Discretionary
company:  AutoNation Inc 投入的数值:  0.0
company:  Garmin Ltd. 投入的数值:  1187087000.0
company:  Hasbro Inc. 投入的数值:  673091000.0

Sector:  Information Technology
company:  Apple Inc. 投入的数值:  28628000000.0
company:  Intel Corp. 投入的数值:  34276000000.0
company:  Microsoft Corp. 投入的数值:  45826000000.0

Sector:  Health Care
company:  Merck & Co. 投入的数值:  21387000000.0
company:  Pfizer Inc. 投入的数值:  22761000000.0

Sector:  Consumer Staples
company:  The Clorox Company 投入的数值:  532000000.0
company:  Campbell Soup 投入的数值:  491000000.0
company:  Mead Johnson 投入的数值:  323700000.0

Sector:  Utilities
company:  Ameren Corp 投入的数值:  0.0
company:  American Electric Power 投入的数值:  0.0
company:  American Water Works Company Inc 投入的数值:  0.0

Sector:  Financials
company:  AFLAC Inc 投入的数值:  0.0
company:  American International Group, Inc. 投入的数值:  0.0
company:  Assurant Inc 投入的数值:  0.0

Sector:  Real Estate
company:  AvalonBay Communities, Inc. 投入的数值:  0.0
company:  Vornado Realty Trust 投入的数值:  32210000.0
company:  Weyerhaeuser Corp. 投入的数值:  84000000.0

Sector:  Materials
company:  Du Pont (E.I.) 投入的数值:  5893000000.0
company:  Monsanto Co. 投入的数值:  6350000000.0
company:  PPG Industries 投入的数值:  1422000000.0

Sector:  Energy
company:  Baker Hughes Inc 投入的数值:  1635000000.0
company:  Helmerich & Payne 投入的数值:  57513000.0

Sector:  Telecommunications Services
company:  CenturyLink Inc 投入的数值:  0.0
company:  Frontier Communications 投入的数值:  0.0
company:  Level 3 Communications 投入的数值:  0.0

# 4. 现在让我们来看看更加复杂的数据

请导入price.csv，然后结合你的聪明才智回答以下问题（附加题，40分）

假设你是某基金公司的老板，现在对于每只股票，你都专门安排了一位负责它的交易员。公司规定每一位交易员手中的资金要么全部买入要么全部卖出（空仓，转化为现金）。假设2016年每一位交易员手中都有10000美元，假设他们都能够看到2016年全年的数据，假设他们都能抓住每一次机会，那么请问2016年底时，赚钱最多的股票是哪一只，赚了多少钱？